
@include keyframes(moveY, webkit moz ms spec) {
  0% {
    @include transform(translateY(0px));
    opacity: 1;
  }
  100% {
    @include transform(translateY(-100px));
    opacity: 0;
  }
}
@include keyframes(fadeIn, webkit moz ms spec){
  0% {
    @include transform(translateY(20px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}
@include keyframes(moveX, webkit moz ms spec){
  0% {
    @include transform(translateX(100px));opacity: 0;
  }
  100% {
    @include transform(translateX(0px));opacity: 1;
  }
}
@include keyframes(rotate, webkit moz ms spec){
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}