//common-color
$white: #FFFFFF;
$orange: #FE9922;

//bg-color
$bg-gray: #EFEFF4;
$bg-blue: #508CEE;
$bg-cc: #cccccc;
$blue:#508CEE;
//border-color
$border-blue: #89b0f9;
$border-gray: #dddddd;

//text-color
$text-gray: #999999;
$light-black: #333333;
$text-light-gray: #666666;
$text-red: #FC3438;



