@media screen and (max-width: 319px) {
  html {
    font-size: 8.53333px; } }
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 8.53333px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 9.6px; } }
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 10.24px; } }
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 10.66667px; } }
@media screen and (min-width: 414px) {
  html {
    font-size: 11.04px; } }
/**
 * css3lib\
 *
 * thanks: 
 * http://bourbon.io/
 * https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
 * https://github.com/marvin1023/sassCore/blob/master/core/_css3.scss
 */
@-webkit-keyframes moveY {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }
@-moz-keyframes moveY {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }
@-ms-keyframes moveY {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }
@keyframes moveY {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes moveX {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-moz-keyframes moveX {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-ms-keyframes moveX {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@keyframes moveX {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
body {
  background: #EFEFF4;
  width: 100%;
  height: 100%; }

img {
  display: block; }

.main-wrap {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%; }

.border-b {
  border-bottom: 1px solid #dddddd; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-b {
      border: 0;
      background-position: left bottom;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.6, transparent), color-stop(0.6, #dddddd), to(#dddddd));
      background-repeat: repeat-x;
      -webkit-background-size: 100% 1px; } }

.bg-white {
  background-color: #FFFFFF; }

.bg-blue {
  background-color: #508CEE; }

.bg-cc {
  background-color: #cccccc; }

.white {
  color: #FFFFFF; }

.bg-white {
  background-color: #FFFFFF; }

.orange {
  color: #FE9922; }

.bg-orange {
  background-color: #FE9922; }

.blue {
  color: #508CEE; }

.bg-blue {
  background-color: #508CEE; }

.light-black {
  color: #333333; }

.text-red {
  color: #FC3438; }

.text-gray {
  color: #999999; }

.text-light-gray {
  color: #666666; }

.text-blue {
  color: #508CEE; }

.box {
  display: box;
  display: -ms-box;
  display: -webkit-box;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex; }

.box-item {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -webkit-box-flex: 1; }

.size10r {
  font-size: 1rem; }

.size12r {
  font-size: 1.2rem; }

.size14r {
  font-size: 1.4rem; }

.size16r {
  font-size: 1.6rem; }

.size18r {
  font-size: 1.8rem; }

.size20r {
  font-size: 2rem; }

.size22r {
  font-size: 2.2rem; }

.size24r {
  font-size: 2.4rem; }

.size26r {
  font-size: 2.6rem; }

.size28r {
  font-size: 2.8rem; }

.size30r {
  font-size: 3rem; }

.size32r {
  font-size: 3.2rem; }

.mt9r {
  margin-top: 0.9rem; }

.mt80r {
  margin-top: 8rem; }

.pro-tips {
  text-align: center;
  height: 4.7rem;
  color: #999999;
  font-size: 1rem;
  line-height: 4rem; }

.dn {
  display: none; }

.order-footer {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding-left: 2.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: url(img/checkbox.png) no-repeat 0 0.2rem;
  background-size: 1.5rem; }

.no-checked {
  background: url(img/noChecked.png) no-repeat 0 0.2rem;
  background-size: 1.5rem; }

.loading {
  width: 6.5rem;
  height: 6.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px; }
  .loading .loading-img {
    width: 4.4rem;
    height: 4.4rem;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -ms-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.2rem;
    margin-top: -2.2rem; }

.caution-txt {
  padding-left: 1.6rem;
  background: url(img/caution.png) no-repeat 0%;
  background-size: 1rem 1.3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
