@charset "UTF-8";
/**
 * css3lib\
 *
 * thanks: 
 * http://bourbon.io/
 * https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
 * https://github.com/marvin1023/sassCore/blob/master/core/_css3.scss
 */
/* 两端对齐 */
/* 居容器中间 */
/* 三角箭头 */
/**
 * css3lib extend
 *
 * Created By McChen
 *
 * 2015/10/18
 *
 * chenjiahao@jd.com
 */
/* 1px hack */
/*border-radius*/
/*fullLayer*/
/*nowrap*/
/* 元素水平垂直居中 */
/* 元素水平居左垂直居中 */
/* 元素水平居右垂直居中 */
/*placeholder-img*/
/*strip-units 去除值得单位*/
/*remCalc*/
@-webkit-keyframes jm-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes jm-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes jm-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes jm-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes jm-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes jm-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes jm-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes jm-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes jm-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes jm-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes jm-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes jm-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
/**================================================================
common
=================================================================*/
html {
  font-size: 10px; }

body {
  line-height: 1; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, legend, input, button, textarea, p, blockquote, th, td, span, a {
  background-repeat: no-repeat; }

/**============================
font-size
==============================*/
.fs10 {
  font-size: 1rem; }

.fs12 {
  font-size: 1.2rem; }

.fs14 {
  font-size: 1.4rem; }

.fs16 {
  font-size: 1.6rem; }

.fs18 {
  font-size: 1.8rem; }

.fs20 {
  font-size: 2rem; }

.fs22 {
  font-size: 2.2rem; }

.fs24 {
  font-size: 2.4rem; }

.fs26 {
  font-size: 2.6rem; }

.fs28 {
  font-size: 2.8rem; }

.fs30 {
  font-size: 3rem; }

.fs32 {
  font-size: 3.2rem; }

.fs34 {
  font-size: 3.4rem; }

.fs36 {
  font-size: 3.6rem; }

.fs38 {
  font-size: 3.8rem; }

.fs40 {
  font-size: 4rem; }

/**============================
left/right
==============================*/
.r15r {
  right: 1.5rem; }

.l15r {
  left: 1.5rem; }

/**============================
padding
==============================*/
.p5r {
  padding: .5rem; }

.p10r {
  padding: 1rem; }

.p15r {
  padding: 1.5rem; }

.p20r {
  padding: 2rem; }

.pt5r {
  padding-top: .5rem; }

.pt10r {
  padding-top: 1rem; }

.pt15r {
  padding-top: 1.5rem; }

.pt20r {
  padding-top: 2rem; }

.pt25r {
  padding-top: 2.5rem; }

.pt30r {
  padding-top: 3rem; }

.pt40r {
  padding-top: 4rem; }

.pr5r {
  padding-right: .5rem; }

.pr10r {
  padding-right: 1rem; }

.pr15r {
  padding-right: 1.5rem; }

.pr20r {
  padding-right: 2rem; }

.pr25r {
  padding-right: 2.5rem; }

.pr30r {
  padding-right: 3rem; }

.pr35r {
  padding-right: 3.5rem; }

.pr40r {
  padding-right: 4rem; }

.pb5r {
  padding-bottom: .5rem; }

.pb10r {
  padding-bottom: 1rem; }

.pb15r {
  padding-bottom: 1.5rem; }

.pb20r {
  padding-bottom: 2rem; }

.pb25r {
  padding-bottom: 2.5rem; }

.pb30r {
  padding-bottom: 3rem; }

.pb35r {
  padding-bottom: 3.5rem; }

.pb40r {
  padding-bottom: 4rem; }

.pl5r {
  padding-left: .5rem; }

.pl10r {
  padding-left: 1rem; }

.pl15r {
  padding-left: 1.5rem; }

.pl20r {
  padding-left: 2rem; }

.pl25r {
  padding-left: 2.5rem; }

.pl30r {
  padding-left: 3rem; }

.pl35r {
  padding-left: 3.5rem; }

.pl40r {
  padding-left: 4rem; }

.ptb5r {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.ptb10r {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ptb15r {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.ptb20r {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.ptb25r {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.ptb30r {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.ptb35r {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

.ptb45r {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.plr5r {
  padding-left: .5rem;
  padding-right: .5rem; }

.plr10r {
  padding-left: 1rem;
  padding-right: 1rem; }

.plr15r {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.plr20r {
  padding-left: 2rem;
  padding-right: 2rem; }

.plr25r {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.plr30r {
  padding-left: 3rem;
  padding-right: 3rem; }

.plr35r {
  padding-left: 3.5rem;
  padding-right: 3.5rem; }

.plr40r {
  padding-left: 4rem;
  padding-right: 4rem; }

/**============================
margin
==============================*/
.m5r {
  margin: .5rem; }

.m10r {
  margin: 1rem; }

.m15r {
  margin: 1.5rem; }

.m20r {
  margin: 2rem; }

.mt5r {
  margin-top: .5rem; }

.mt10r {
  margin-top: 1rem; }

.mt15r {
  margin-top: 1.5rem; }

.mt20r {
  margin-top: 2rem; }

.mt25r {
  margin-top: 2.5rem; }

.mt30r {
  margin-top: 3rem; }

.mt40r {
  margin-top: 4rem; }

.mr5r {
  margin-right: .5rem; }

.mr10r {
  margin-right: 1rem; }

.mr15r {
  margin-right: 1.5rem; }

.mr20r {
  margin-right: 2rem; }

.mr25r {
  margin-right: 2.5rem; }

.mr30r {
  margin-right: 3rem; }

.mr35r {
  margin-right: 3.5rem; }

.mr40r {
  margin-right: 4rem; }

.mb5r {
  margin-bottom: .5rem; }

.mb10r {
  margin-bottom: 1rem; }

.mb15r {
  margin-bottom: 1.5rem; }

.mb20r {
  margin-bottom: 2rem; }

.mb25r {
  margin-bottom: 2.5rem; }

.mb30r {
  margin-bottom: 3rem; }

.mb35r {
  margin-bottom: 3.5rem; }

.mb40r {
  margin-bottom: 4rem; }

.ml5r {
  margin-left: .5rem; }

.ml10r {
  margin-left: 1rem; }

.ml15r {
  margin-left: 1.5rem; }

.ml20r {
  margin-left: 2rem; }

.ml25r {
  margin-left: 2.5rem; }

.ml30r {
  margin-left: 3rem; }

.ml35r {
  margin-left: 3.5rem; }

.ml40r {
  margin-left: 4rem; }

.mtb5r {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.mtb10r {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mtb15r {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mtb20r {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mtb25r {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mtb30r {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mtb35r {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.mtb45r {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mlr5r {
  margin-left: .5rem;
  margin-right: .5rem; }

.mlr10r {
  margin-left: 1rem;
  margin-right: 1rem; }

.mlr15r {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mlr20r {
  margin-left: 2rem;
  margin-right: 2rem; }

.mlr25r {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.mlr30r {
  margin-left: 3rem;
  margin-right: 3rem; }

.mlr35r {
  margin-left: 3.5rem;
  margin-right: 3.5rem; }

.mlr40r {
  margin-left: 4rem;
  margin-right: 4rem; }

.color-f {
  color: #fff; }

.color-72 {
  color: #727272; }

.color-ac {
  color: #acacac; }

.color-23 {
  color: #232323; }

.color-red {
  color: #ee3d3d; }

.bg-f {
  background-color: #fff; }

.opa0 {
  opacity: 0; }

.box-bor {
  box-sizing: border-box; }

.abs-lt {
  left: 0; }

.vh {
  visibility: hidden; }

.hidden {
  display: none; }

.ovh {
  overflow: hidden; }

.z10 {
  z-index: 10; }

.nowrap {
  white-space: nowrap; }

.lh12 {
  line-height: 1.2; }

.lh15 {
  line-height: 1.5; }

/**============================
border
==============================*/
.bt {
  border-top: 1px solid #e4e4e4; }

.bb {
  border-bottom: 1px solid #e4e4e4; }

.bl {
  border-left: 1px solid #e4e4e4; }

.br {
  border-right: 1px solid #e4e4e4; }

.ba {
  border: 1px solid #e4e4e4; }

.hairlines .bt {
  border-top: 0.5px solid #e4e4e4; }
.hairlines .bb {
  border-bottom: 0.5px solid #e4e4e4; }
.hairlines .bl {
  border-left: 0.5px solid #e4e4e4; }
.hairlines .br {
  border-right: 0.5px solid #e4e4e4; }
.hairlines .ba {
  border: 0.5px solid #e4e4e4; }

/**================================================================
媒体查询
=================================================================*/
@media screen and (min-width: 320px) {
  html {
    font-size: 8.5333px; } }
@media screen and (min-width: 375px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 414px) {
  html {
    font-size: 11.04px; } }
