.nav-box{
  height: 40px;
  padding: 0 20px;
}
.nav-item{
  height: 100%;
  line-height: 40px;
  border-radius: 4px;
  background-color: cornflowerblue;
  color:white;
}
.cont{
  padding: 20px 20px;
}
.btn-del{
  background-color: red;
  border: 4px;
}