.sort-box{
  position: relative;
  height: 50px;
  font-size: 18px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
}
.sort-input{
  width: 80%;
  color: rgba(0, 0, 0, 0.65);
  text-indent: 8px;
}
.sort-btn{
  width: 100px;
  text-align: center;
  background: #108ee9;
  color:#fff;
  border-color: #108ee9;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  cursor: pointer;
}
.sort-error{
  font-size: 12px;
  color:red;
  position: absolute;
  left: 0;
  top:54px;
}