.caution-txt{
  padding-left: 1.6rem;
  background: url(img/caution.png) no-repeat 0%;
  background-size: 1rem 1.3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  @include box-sizing(border-box);
}

